<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <meta name="viewport" content="width=device-width;initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <title>SMB Loans Prototype</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/validator.js"></script>
    <script src="/assets/js/mousetrap.js"></script>
    <script src="/assets/js/script.js"></script>
</head>
<body>
  <script src="https://hypothes.is/embed.js" async></script>
  {{ content }}
</body>
</html>